my-app{
  padding: 1em;
  display: block;
  width: 60%;
  margin: auto;
}

.editing {
  text-align: center;
  padding: .5em;
  background: #eeeeee;
}

.editing > * {
  color: #cccccc;
}
.editing > .active {
  color: #000088;
}
