

dj-form.my-form > dj-form-item-host{
  margin: 0;
  border-bottom: solid 1px #eeeeee;
}

dj-form.my-form > dj-form-item-host > *{
  display: flex;
  flex-direction: row;
  align-items:center;
  min-height: 3em;
  padding: 0 .8em;
}

dj-form.my-form > dj-form-item-host > * > input ,
dj-form.my-form > dj-form-item-host > * > textarea ,
dj-form.my-form > dj-form-item-host > * > djui-input ,
dj-form.my-form > dj-form-item-host > * > uib-dropdown ,
dj-form.my-form > dj-form-item-host > * > select,
dj-form.my-form > dj-form-item-host > * > * > select {
  border: solid 0;
}

dj-form.my-form > dj-form-item-host > * > *:first-child{
  width: 6em;
}
dj-form.my-form > dj-form-item-host > * > *:nth-child(2){
  flex: 1;
}


dj-form.my-form > dj-form-item-host > .ng-invalid .prompt-text{
  color: #ff0000;
}
dj-form.my-form > dj-form-item-host > * > *:first-child > .prompt{
  display: none;
}

dj-form.my-form > dj-form-item-host imgs-uploader{
  padding: .8em 0;
}

