.djui-btn {
  padding: .5em 1em;
  border: solid 0;
  border-radius: .3em;
}
.djui-btn.default {
  background: #eeeeee;
  color: #555555;
}
.djui-btn.primary {
  background: #5555cc;
  color: #ffffff;
}
.djui-btn.danger {
  background: #cc3366;
  color: #ffffff;
}
.djui-btn.info {
  background: #6699cc;
  color: #ffffff;
}
.djui-btn.warning {
  background: #ff8800;
  color: #ffffff;
}
.djui-btn.comment {
  background: #cc33ff;
  color: #ffffff;
}
.djui-btn.disabled {
  background: #f8f8f8;
  color: #cccccc;
}

/* 瘦按钮 */
.thin-btns > * {
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  -ms-justify-content:center;
  -o-justify-content:center;
  justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-align-items:center;
  -ms-align-items:center;
  -o-align-items:center;
  align-items:center;
  -webkit-flex:1 ; -moz-flex:1 ; -ms-flex:1 ; -o-flex:1 ; flex:1 ;

  border-left: solid 1px #eeeeee;
  padding: .5em 0;
}
.thin-btns > *:first-child {
  border-left: solid 0;
}
.thin-btns > .default { color: #555555; }
.thin-btns > .primary { color: #5555cc; }
.thin-btns > .danger { color: #cc3366; }
.thin-btns > .info { color: #6699cc; }
.thin-btns > .warning { color: #ff8800; }
.thin-btns > .comment { color: #cc33ff; }
.thin-btns > .disabled { color: #cccccc; }


.djui-fixed-box {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
  background: rgba(0,0,0,0);
}



djui-input > div {
  width: 100%;
}
djui-input input {
  border-width: 0;
}
djui-input i:first-child{
  color:#cccccc;
}
djui-input > div > i.fa{
  padding: 0 .08rem;
  font-size: 1.5em;
}


djui-star {
  display: inline-block;
}
djui-star > * {
  height: 100%;
}
djui-star > * > .star {
  height: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #ff8800;
  padding: 0 0.3em;
}


djui-tags{
  display: inline-block;
}
djui-tags > * > .tag {
  padding: 0.2em 1em;
  border: solid 1px #dddddd;
  margin: 0.3em;
  border-radius: 0.3em;
}
djui-tags > * > .tag.active {
  background: #6699cc;
  color: #ffffff;
}

djui-tags-show{
  display: inline-block;
}
djui-tags-show > * > .tag {
  padding: .1em .3em;
  border: solid 1px #eeeeee;
  background: #eeeeee;
  margin: .1em .2em .1em 0;
  border-radius: 0.2em;
}

